# per user
# allow windows tracking of app starts (keeps last run command in run dialog)
P025	-

# edge
# allow automatic completion of web addresses in address bar
E107	-
# allow suggestions from local providers (website suggestions and autocomplete in address bar)
E121	-
# allow search and website suggestions
E103	-

# whole machine
# allow windows updates via peer to peer
W001	-

# disable microsoft defender spynet
S012	+
S013	+
S014	+

M016	+	# Disable search box in task bar (Category: Taskbar)